{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <div class="login-container" style='background-image: url("/images/login/{{ image }}")'>
        <div class="login-form-container main-color-text">
            <form id="login-form" method="post">
                <h2 class="text-center login-title">Se connecter</h2>
                <div class="login-form-input-container text-center">
                    <input type="text" value="{{ last_username }}" placeholder="Nom d'utilisateur" name="username" id="inputUsername" class="form-control login-form-input" required autofocus>
                </div>
                <div class="login-form-input-container text-center">
                    <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" class="form-control login-form-input" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                {% if error %}
                    <div class="login-error text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="text-center">
                    <button class="btn btn-lg btn-primary login-submit" type="submit">
                        Connexion
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
